* {
	margin: 0;
	padding: 0;
}
body {
	background: #16a085;
	height: 100%;
	overflow: hideen
}
html{
	height: 100%;
}

.container {
	width: 712px;
	height: 100%;
	margin: 0 auto;
	background: #16a085;
	overflow: hidden;
}
canvas {
	background-color:  #ecf0f1;
}

#mainCanvas {
	
	margin: 10px auto;
	border: 6px dashed #16a085;
	
}

.poruka {
	height: 50px;
	width: 100%;
	text-align: center;
	margin-top: 45px;
	color: white;
	margin-bottom: 5px;
	
}
.poruka span {
	font-size: 30px;
	font-family: 'Press Start 2P', cursive;
	
	
}

#beta {
	font-size: 25px;
}
.copyright{
	width: 100%;
	height: 50px;
	font-size: 10px;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	color: white;
	margin-top: 5px;
}